.center {
    text-align: center;
}

.dateCol {
    width: 185;
}

.action {
    width: 100px;
    cursor: pointer;
    user-select: none;
}

.action:hover {
    color:crimson
}

.row:hover {
    color: cornflowerblue
}