.root {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px */
}

.btnHeart {
    font-size: 1rem;
}

.btnBasket {
    font-size: 1rem;
}

