.root {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: black;
    // opacity: 0.75;
}

.modalView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    // background-color: black;
    margin:30px
}