.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  width: 80px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
  border: 1px solid lightgray;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.root:hover {
  /* background-color: tomato; */
  /* border: 1px solid gray; */
  box-shadow: 0 1px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  scale: 1.1;

}

.imgContainer {
  width: 70;
  height: 50px;
  margin: 5px 2px;
  border-radius: 5px;
  background-color: white;
  /* border: 1px solid lightblue; */
  overflow: hidden;
}

.img {
  align-self: center;
  resize: both;
}

.title {
  display: block;
  text-align: center;
  /* padding: 3px 0; */
  width: 75px;
  font-size: 0.6rem;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
}
