$btnWidth : 20px;
$btnRadius : 15px;

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: tomato; */
    margin:5px 10px;
}

.btn {
    display: flex;
    justify-content: center;
    width: $btnWidth;
    border:1px solid lightgray;
    user-select: none;
    cursor: pointer;
}

.btnMinus {
    /* border-radius: 5px 0 0 0; */
    /* background-color: yellow; */
    border-radius: $btnRadius 0 0 $btnRadius;
}

.btnPlus {
    border-radius: 0 $btnRadius $btnRadius 0;
}

.textQty {
    width: $btnWidth;
    text-align: center;
    border:1px solid lightgray;
}

