.root {
    display: flex;    
    width:100%;
    /* margin: 0 10px;  */
    justify-content: space-evenly;
    align-items: center;
}

.price {
    font-size: 0.7rem;
    font-weight: 700;
}

.old_price {
    font-size: 0.6rem;
    color: gray;
    text-decoration:line-through;
}

.discount {
    color:tomato;
    font-size: 0.7rem;
}