.root {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 15px;
}
.labelContainer {
    display: flex;
}

.labelTitle {
    display: block;
    width: 100px
}

.redText {
color:red;
}

.labelPrice {
    font-weight: 600;
}