.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 3px;
    // border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    margin-left: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.count {
    margin-left: 5px;
    font-size: 0.8rem;
}