.root {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 5px 10px
}

.fullStar {
    font-size: 0.6rem;
}

.emptyStar {
    font-size: 0.7rem;
}

.ratersQty {
    font-size: 0.7rem;
}