.inputContainer {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  /* background-color: tomato; */
}

.todo {
  margin: 3px;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  width: 400px;
}

.title {
  cursor: pointer;
  user-select: none;
}
