/* body {
  margin: 20px;
} */

* {
  font-family: "Regular";
}

body {
  /* background-color: rgb(228, 224, 224); */
  height: 100vh;
  /* margin:20px; */
  zoom: 2;
}

@font-face {
  font-family: "Regular";
  src:'Poppins-Regular' 
  url('./assets/fonts/Poppins-Regular.ttf') format('truetype') ;
}

@font-face {
  font-family: "Medium";
  src:'Poppins-Medium' 
  url('./assets/fonts/Poppins-Medium.ttf') format('truetype') ;
}

@font-face {
  font-family: "SemiBold";
  src:'Poppins-SemiBold' 
  url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype') ;
}