.root {
    display: flex;
    // flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.link {
    text-decoration: none;
}

.link:hover {
    color:tomato
}

.linkContainer {
    display: flex;
    // flex:1;
    width: 50%;
    justify-content: space-evenly;
}

.login {
    margin: 0 10px;
}

.loginBtn {
    cursor: pointer;
    user-select: none;
}

.empty {
    display: flex;
    flex:1;
}

.gutter {
    stroke:rgb(255,0,0);
    stroke-width:2
}