.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  width: 80px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.root:hover {
  /* background-color: tomato; */
  /* border: 1px solid lightblue; */
  box-shadow: 0 1px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.imgContainer {
  /* width:70px; */
  height:50px;
  margin: 5px 5px;
  border-radius: 5px;
  background-color: white;
  /* border: 1px solid lightblue; */
  overflow: hidden;
}

.img {
  resize:both;
  align-self: center;
}

.title {
  display: block;
  text-align: center;
  padding: 10px 0;
  width: 40px;
  font-size: 0.6rem;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
}
